#producer-register-form-container {

    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#producer-register-form {
    position: absolute;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}